In [1]:
import os
import matplotlib as mp
import pandas as pd
import plotly as pt

In [2]:
#Creat a csv for each date
path_M = os.path.join('Resources/Mike_posts_and_comments.CSV.csv') 
Mike_df = pd.read_csv (path_M)
path_A = os.path.join('Resources/Andres_posts_and_comments.CSV.csv') 
Andres_df = pd.read_csv (path_A)
path_C= os.path.join('Resources/Chey_posts_and_comments.CSV.csv') 
Chey_df = pd.read_csv (path_C)
path_B= os.path.join('Resources/Bruna_posts_and_comments.CSV.csv') 
Bruna_df = pd.read_csv (path_B)

In [3]:
#Filter CSV 
tm_C = Chey_df['reactions/timestamp']
tm_M = Mike_df['Timestamp']
tm_A = Andres_df['reactions/timestamp']
tm_B = Bruna_df['reactions/timestamp']

In [4]:
#Create columns Year, Month, Day, Hour

#Chey
Chey_df['Timestamp'] = pd.to_datetime(tm_C,unit='s', yearfirst=True) 
Chey_df['Year']= Chey_df['Timestamp'].dt.year
Chey_df['Month']= Chey_df['Timestamp'].dt.month
Chey_df['Day']= Chey_df['Timestamp'].dt.day
Chey_df['Hour']= Chey_df['Timestamp'].dt.hour

#Mike
Mike_df['Timestamp'] = pd.to_datetime(tm_M,unit='s', yearfirst=True) 
Mike_df['Year']= Mike_df['Timestamp'].dt.year
Mike_df['Month']= Mike_df['Timestamp'].dt.month
Mike_df['Day']= Mike_df['Timestamp'].dt.day
Mike_df['Hour']= Mike_df['Timestamp'].dt.hour

#Andres
Andres_df['Timestamp'] = pd.to_datetime(tm_A,unit='s', yearfirst=True) 
Andres_df['Year']= Andres_df['Timestamp'].dt.year
Andres_df['Month']= Andres_df['Timestamp'].dt.month
Andres_df['Day']= Andres_df['Timestamp'].dt.day
Andres_df['Hour']= Andres_df['Timestamp'].dt.hour

#Bruna
Bruna_df['Timestamp'] = pd.to_datetime(tm_B, unit ='s', yearfirst=True) 
Bruna_df['Year']= Bruna_df['Timestamp'].dt.year
Bruna_df['Month']= Bruna_df['Timestamp'].dt.month
Bruna_df['Day']= Bruna_df['Timestamp'].dt.day
Bruna_df['Hour']= Bruna_df['Timestamp'].dt.hour

In [5]:
#Clean our Data Frame

#Chey
Chey_df.columns = ['stand', 'Reaction','User','Action','Nan0','Nan','Nan1','Nan3','Timestamp','Year','Month','Day','Hour']
Chey2_df = Chey_df.drop(columns=['stand','Nan0','Nan','Nan1','Nan3'])

#Mike
Mike_df = Mike_df.drop(columns=['Uri'])
Mike2_df = Mike_df.reindex(columns = ['Reaction','User','Action','Timestamp','Year',"Month",'Day','Hour'])

#Andres
Andres_df.columns = ['stand', 'Reaction','User','Action','Nan','Timestamp','Year','Month','Day','Hour']
Andres2_df = Andres_df.drop(columns=['stand','Nan'])

#Bruna
Bruna_df.columns = ['stand', 'Reaction','User','Action','Nan','Timestamp','Year','Month','Day','Hour']
Bruna2_df = Bruna_df.drop(columns=['stand','Nan'])

In [6]:
print(Bruna2_df['Reaction'].unique())
print(Chey_df['Reaction'].unique())
print(Andres_df['Reaction'].unique())
print(Mike_df['Reaction'].unique())

['LIKE' 'LOVE' 'HAHA' 'SORRY']
['LOVE' 'LIKE' 'HAHA' 'SORRY' 'WOW']
['LIKE' 'LOVE' 'HAHA' 'SORRY' 'WOW' 'ANGER']
['LIKE' 'LOVE' 'HAHA']

In [11]:
Chey2_df

,Reaction,User,Action,Timestamp,Year,Month,Day,Hour
0,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Danielle Carter's post.,2020-12-29 14:56:49,2020,12,29,14
1,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Durel Hairston Jr.'s ...,2020-12-29 14:53:05,2020,12,29,14
2,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Sean Holley's post.,2020-12-29 14:52:15,2020,12,29,14
3,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,2020-12-29 04:25:59,2020,12,29,4
4,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,2020-12-28 03:43:43,2020,12,28,3
...,...,...,...,...,...,...,...,...
23859,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Troy Long's post.,2011-03-24 21:14:33,2011,3,24,21
23860,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Shanny Mounique's post.,2011-02-20 19:53:26,2011,2,20,19
23861,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Kennedy Smith's post.,2011-02-17 16:54:19,2011,2,17,16
23862,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Troy Long's post.,2011-02-13 16:08:25,2011,2,13,16
23863,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Kennedy Smith's post.,2011-02-04 22:42:03,2011,2,4,22

In [9]:
Andres2_df

,Reaction,User,Action,Timestamp,Year,Month,Day,Hour
0,LIKE,Andres Alcaraz,Andres Alcaraz likes Vinicius Gomes's photo.,2021-01-01 00:18:58,2021,1,1,0
1,LIKE,Andres Alcaraz,Andres Alcaraz likes Mario Alcaraz's photo.,2020-12-31 21:17:00,2020,12,31,21
2,LIKE,Andres Alcaraz,Andres Alcaraz likes Mony Vazquez's post.,2020-12-30 03:51:15,2020,12,30,3
3,LIKE,Andres Alcaraz,Andres Alcaraz likes Christian Foster's post i...,2020-12-29 14:46:23,2020,12,29,14
4,LIKE,Andres Alcaraz,Andres Alcaraz likes Mario Alcaraz's photo.,2020-12-29 14:45:43,2020,12,29,14
...,...,...,...,...,...,...,...,...
5905,LIKE,Andres Alcaraz,Andres Alcaraz liked a video.,2014-01-24 03:32:01,2014,1,24,3
5906,LIKE,Andres Alcaraz,Andres Alcaraz liked a video.,2014-01-20 23:40:02,2014,1,20,23
5907,LIKE,Andres Alcaraz,Andres Alcaraz likes Richi Phelps's photo.,2014-01-19 04:46:11,2014,1,19,4
5908,LIKE,Andres Alcaraz,Andres Alcaraz liked a video.,2014-01-15 22:08:17,2014,1,15,22
5909,LIKE,Andres Alcaraz,Andres Alcaraz liked a photo.,2014-01-12 17:31:25,2014,1,12,17

In [10]:
Mike2_df

,Reaction,User,Action,Timestamp,Year,Month,Day,Hour
0,LIKE,Michael Tyler,Michael Tyler likes Kanye Battle's photo.,2021-02-24 01:03:54,2021,2,24,1
1,LIKE,Michael Tyler,Michael Tyler likes BeGreat.'s photo.,2021-02-23 03:13:00,2021,2,23,3
2,LIKE,Michael Tyler,Michael Tyler likes Hari Sivaskandan's photo.,2021-02-23 03:11:43,2021,2,23,3
3,LIKE,Michael Tyler,Michael Tyler likes Taylor Johnson's post.,2021-02-23 01:29:05,2021,2,23,1
4,LIKE,Michael Tyler,Michael Tyler likes Brandon Cotton's post.,2021-02-23 01:17:14,2021,2,23,1
...,...,...,...,...,...,...,...,...
3584,LIKE,Michael Tyler,Michael Tyler liked Komi Galli's comment.,2011-08-23 03:06:47,2011,8,23,3
3585,LIKE,Michael Tyler,Michael Tyler likes Cameron Funk's post.,2011-08-20 23:25:42,2011,8,20,23
3586,LIKE,Michael Tyler,Michael Tyler liked a comment.,2011-08-20 13:40:46,2011,8,20,13
3587,LIKE,Michael Tyler,Michael Tyler likes Sam Penn's post on Mac Mil...,2011-08-20 13:37:33,2011,8,20,13
3588,LIKE,Michael Tyler,Michael Tyler liked Cameron Funk's comment.,2011-08-17 22:17:52,2011,8,17,22